.navbar {
    box-shadow: 2px 2px 5px #000;
    opacity: 0.9;
  }
  
  .navbar .nav-item .nav-link {
    color: #fff;
  }
  .navbar{
      z-index: 1;
  }
  
  .background-overlay {
    background: rgba(48, 51, 107,.7);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  
  .form-control, .btn{
    border-radius: 0;
  }
  
  .team-section{
    background: #30336b;
  }
  footer{
      background: black;
  }
  .cfooter{
    overflow: hidden;
	width: 100%; 
  }
  .contacto{
    float: left;
    text-align: center;
  }
  .informacion{
    float: right;
    text-align: center;
  }
  .articles{
    display: inline-block;
  }
 
